<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/css/ragistration.css">
    <title>Document</title>
</head>
<body>
    <main>
      
<div class="form-container">
	<p class="title">Login</p>
	<form method="post" action="/api/ai/loginuser" class="form">
		<div class="input-group">
			<label for="email">Email</label>
			<input type="email" name="email" id="email" placeholder="">
		</div>
		<div class="input-group">
			<label for="password">Password</label>
			<input type="password" name="password" id="password" placeholder="">
		</div>
		<button class="sign">Login</button>
	</form>
	
	
	<p class="signup">Don't have an account?
		<a rel="noopener noreferrer" href="#" class="">Sign up</a>
	</p>
</div>
    </main>
</body>
</html>