<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/css/ragistration.css">
    <title>Registration</title>
</head>
<body>
    <main>
        <!-- From Uiverse.io by Yaya12085 --> 
<div class="form-container">
	<p class="title">Sign Up</p>
	<form method="post" action="/api/ai/signup" class="form">
		<div class="input-group">
			<label for="username">Username</label>
			<input type="text" name="username" id="username" placeholder="">
		</div>
		<div class="input-group">
			<label for="email">Email</label>
			<input type="email" name="email" id="email" placeholder="">
		</div>
		<div class="input-group">
			<label for="password">Password</label>
			<input type="password" name="password" id="password" placeholder="">
		</div>
		<button class="sign">Sign in</button>
	</form>
	
	
	<p class="signup">Already have an account?
		<a rel="noopener noreferrer" href="/login" class="">Login</a>
	</p>
</div>
    </main>
</body>
</html>